header {
    height: 765px;
    background: #362B32;
}

.body_fixed {
    overflow: hidden;
}

.header-bg {
    height: 765px;
    background-image: url('../resources/me.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: bottom right;
}

.header-wrapper {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 255px;
}

.header-logo {
    display: inline-block;
    padding: 0 18px 0 20px;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    color: #c8a2c8;
    background-color: #000000;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav__link {
    font-size: 18px;
    line-height: 25px;
}

.nav__link:hover {
    color: #c8a2c8;
}

.header-desc-wrapper {
    max-width: 410px;
    margin-bottom: 29px;
}

.header-desc {
    font-size: 23px;
    line-height: 26px;
    color: #FFFFFF;
}

.header-title-wrapper {
    max-width: 830px;
}

.header-title {
    font-size: 80px;
    line-height: 70px;
    color: #c8a2c8;
}

.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

@media (max-width: 1199px) {
    .header-wrapper {
        margin-bottom: 200px;
    }
    
    .nav {
        display: none;
    }
    
    .header-title-wrapper {
        max-width: 500px;
    }
    
    .header-title {
        font-size: 60px;
        line-height: 70px;
    }

    .burger-btn {
        position: relative;
        display: block;
        z-index: 106;
        width: 70px;
        height: 50px;
    }

    .burger-btn__line {
        position: absolute;
        top: 15px;
        right: 10px;
        display: block;
        width: 50px;
        height: 3px;
        background: #c8a2c8;
        transition: all 0.5s ease;
    }

    .burger-btn__line::after {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        display: block;
        width: 50px;
        height: 3px;
        background: #c8a2c8;
        transition: all 0.4s ease;
    }

    .js-burger-btn.burger-btn.burger-btn_open .burger-btn__line {
        width: 40px;
        transform: rotate(-45deg);
    }

    .js-burger-btn.burger-btn.burger-btn_open .burger-btn__line::after {
        width: 40px;
        transform: rotate(90deg) translate(-8px, 0);;
    }
    
    .burger_open {
        opacity: 1;
        visibility: visible;
    }
    
    .burger__content {
        overflow-y: auto;
        width: 40%;
        height: 100%;
        background-color: black;
        transition: transform 0.4s linear;
        transform: translateX(100%);
    }

    .burger_open .burger__content {
        transform: translateX(0);
    }
    
    .burger-inner {
        padding: 60px 0 0 28px;
    }
    
    .burger-logo {
        margin-bottom: 40px;
        border: 2px solid #c8a2c8;
    }
    
    .burger-nav {
        display: flex;
        flex-direction: column;
        gap: 21px;
        padding-left: 15px;
        margin-bottom: 91px;
    }
    
    .burger-nav__link {
        font-size: 25px;
        line-height: 32px;
        text-transform: uppercase;
    }
    
    .burger-for-contact {
        margin-bottom: 20px;
        padding-left: 15px;
        font-size: 20px;
        line-height: 21px;
        opacity: 0.5;
    }
    
    .burger-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 15px;
    }
    
    .burger-social-media-link {
        font-size: 25px;
        line-height: 32px;
    }
}

@media (max-width: 767px) {
    header {
        height: 716px;
    }
    
    .header-bg {
        height: 716px;
        background-size: 60%;
    }
    
    .header-wrapper {
        margin-bottom: 170px;
    }

    .header-logo {
        padding: 0 12px 0 15px;
        font-size: 32px;
        line-height: 45px;
    }
    
    .header-desc-wrapper {
        max-width: 310px;
        margin-bottom: 10px;
    }
    
    .header-desc {
        font-size: 15px;
        line-height: 20px;
    }
    
    .header-title-wrapper {
        max-width: 353px;
    }
    
    .header-title {
        font-size: 40px;
        line-height: 46px;
    }

    .burger-btn {
        width: 50px;
        height: 35px;
    }

    .burger__content {
        width: 50%;
    }

    .burger-inner {
        padding: 80px 0 0 28px;
    }

    .burger-btn__line {
        width: 30px;
    }

    .burger-btn__line::after {
        width: 30px;
    }

    .js-burger-btn.burger-btn.burger-btn_open .burger-btn__line::after {
        transform: rotate(90deg) translate(-10px, 0);;
    }
}

@media (max-width: 460px) {
    .burger__content {
        width: 85%;
    }
}