.skills-title {
    margin-bottom: 139px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 120px;
    margin-bottom: 150px;
}

.skill {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
}

.skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.skill-title {
    position: relative;
    color: #c8a2c8;
    flex-grow: 3;
}

.skill-desc {
    text-align: justify;
    font-size: 25px;
    line-height: 29px;
}

.skill-title::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 44px;
    width: 45px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    border-radius: 10px;
    bottom: calc(100% + 20px);
    background-color: #c8a2c8;
}

.skill-title_html::before {
    background-image: url('../resources/html-icon.png');
}

.skill-title_js::before {
    background-image: url('../resources/js-icon.png');
    background-position: 50% 60%;
}

.skill-title_lb::before {
    background-image: url('../resources/mobile-icon.png');
}

.skill-title_adaptive::before {
    background-image: url('../resources/library-icon.png');
    background-size: 40%;
}

@media (max-width: 1199px) {
    .skills-title {
        margin-bottom: 106px;
    }
    
    .skill-wrapper {
        gap: 13px;
    }
    
    .skill-desc {
        font-size: 25px;
        line-height: 28px;
    }
    
    .skill-title::before {
        bottom: calc(100% + 15px);
    }
}

@media (max-width: 767px) {
    .skills {
        row-gap: 96px;
        margin-bottom: 100px;
    }
    
    .skill {
        width: 100%;
    }
    
    .skill-desc {
        font-size: 23px;
        line-height: 25px;
    }
}