.services-title {
    max-width: 450px;
    margin-bottom: 80px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
}

.service-bg {
    display: block;
    height: 200px;
    width: 100%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 30px;
}

.service-bg_html {
    background-image: url('../resources/developing.png');
}

.service-bg_dev {
    background-image: url('../resources/codinghtml.png');
    background-position-y: 50%;
}

.service-bg_mob {
    background-image: url('../resources/mobiledev.png');
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 283px;
    padding: 40px 40px 0 40px;
    border-radius: 30px;
    background: #191C19;
}

.service-text-wrapper {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: calc(50% - 35px);
}

.service-title {
    line-height: 60px;
    color: #c8a2c8;
}

.service-desc {
    font-size: 25px;
    line-height: 29px;
}

@media (max-width: 1199px) {
    .services-title {
        margin-bottom: 60px;
    }
    
    .services {
        gap: 32px;
        margin-bottom: 110px;
    }
    
    .service-bg {
        height: 162px;
        background-position-y: 15%;
    }

    .service-bg_dev {
        background-position-y: 50%;
    }
    
    .service-box {
        height: unset;
        padding: 32px 32px 50px 32px;
    }
    
    .service-text-wrapper {
        width: calc(50% - 23px);
    }
    
    .service-title {
        line-height: 44px;
    }
    
    .service-desc {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .services-title {
        max-width: 380px;
    }
    
    .services {
        gap: 60px;
        margin-bottom: 100px;
    }
    
    .service-bg {
        height: 225px;
        background-size: cover;
    }
    
    .service-box {
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        height: unset;
        padding: 30px 21px 60px 21px;
    }
    
    .service-text-wrapper {
        display: flex;
        align-items: flex-start;
        height: unset;
        width: 100%;
        padding: unset;
    }
    
    .service-title {
        line-height: 30px;
    }
    
    .service-desc {
        font-size: 20px;
        line-height: 25px;
    }
}