@import url('../styles/header.css');
@import url('../styles/section-projects.css');
@import url('../styles/section-skills.css');
@import url('../styles/section-service.css');
@import url('../styles/section-forms.css');
@import url('../styles/footer.css');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poiret One', cursive;
    background: black; 
}

.container { 
    margin: 0 auto;
    max-width: 1150px;
}

h1, h2, h3, h4, p, a {
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h2 {
    font-size: 55px;
    line-height: 62px;
    color: #FFFFFF;
}

h3 {
    font-size: 50px;
    line-height: 56px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 1199px) {
    .container { 
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2 {
        font-size: 45px;
        line-height: 48px;
    }

    h3 {
        font-size: 48px;
        line-height: 49px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 13px;
        padding-right: 13px;
    }

    h2 {
        font-size: 40px;
        line-height: 49px;
    }

    h3 {
        font-size: 38px;
        line-height: 39px;
    }
}