@import url('../styles/header.css');
@import url('../styles/section-projects.css');
@import url('../styles/section-skills.css');
@import url('../styles/section-service.css');
@import url('../styles/section-forms.css');
@import url('../styles/footer.css');

body {
    font-family: 'Poiret One', cursive;
    background: black; 
}

.container { 
    margin: 0 auto;
    max-width: 1150px;
}

h1, h2, h3, h4, p, a {
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h2 {
    font-size: 55px;
    line-height: 72px;
    color: #FFFFFF;
}

h3 {
    font-size: 45px;
    line-height: 46px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}